
@media print {

  .App-section {
    justify-content: unset;
  }

  img {
    display: none;
  }
  .print {
    display: block;
  }
  .noprint {
    display: none;
  }
  h1,h2,h3,p,table {
    color: #000;
  }
  h1,h2,h3 {
    text-align: center;
    font-family: IBM Plex Sans;
    font-size: 40px
  }
}

.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-section {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Poppins';
  padding: 20px 0;
}

.App-section-title {
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#html5qr-code-full-region {
  background-color: white;
  color: #282c34;
  font-size: 12pt;
}

@media(max-width: 640px) {
	#html5qr-code-full-region {
		width: 300px;
	}
}

@media(min-width: 640px) {
	#html5qr-code-full-region {
		width: 600px;
	}
}

.Result-container {
  min-width: 600px;
  margin: auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.Result-header {
  font-size: 16pt;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow: scroll;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
th {
  text-align: left;
}
thead th {
  background-color: #55608f;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

a {
  color: white
}

.button-print {
  padding: 8px;
  font-size: 18px;
  font-weight: 600;
  font-family: poppins;
  text-transform: uppercase;
  background: #34479D;
  border: 0;
  color: #fff;
  letter-spacing: 1px;
  min-width: 600px;
}

@media (max-width: 639px) {
  #html5qr-code-full-region__scan_region video {
    width: 100%!important;
  }
  #html5qr-code-full-region__dashboard_section_csr button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
  }
}

.image-user img {
  border: 1px solid;
  width: 60px;
  height: 80px;
}

@media (max-width: 390px) {
  .App {
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .Result-container {
    min-width: unset;
    margin: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }
  .App-section {
    background-color: #282c34;
    min-height: unset;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: unset;
    color: white;
    padding: 20px 0;
    overflow-x: hidden;
    height: 600px;
  }
  .button-print {
    padding: 8px;
    font-size: 18px;
    font-weight: 600;
    font-family: poppins;
    text-transform: uppercase;
    background: #34479D;
    border: 0;
    color: #fff;
    letter-spacing: 1px;
    min-width: unset;
    width: 100%;
  }
  .Result-section {
    overflow-y: hidden;
    overflow-x: scroll;
  }
  table {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .image-user img {
    border: 1px solid;
    width: 30px;
    height: 40px;
  }
  
}

